@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Bungee&family=Bungee+Spice&family=Montserrat:ital,wght@0,800;0,900;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Bungee+Spice&family=Montserrat:ital,wght@0,800;0,900;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Bungee&family=Bungee+Spice&family=Montserrat:ital,wght@0,800;0,900;1,800;1,900&family=Quantico:wght@700&family=Syne+Mono&family=Yusei+Magic&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


/* Logo y la imagen de fondo */

.titulo2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 250px;
    color: grey;
    display: block;
    position: absolute;
    top: 25%;
    left: 8%;


}

.imginicio {
    width: 100%;
    
       

}

header {
    width: 100%;
    position: relative;
    display: block;


}



/* Menú */
nav ul {
    text-align: center;
    background-color: blue;
    cursor: pointer;

}

li {
    cursor: pointer;
    font-size: 25px;
    display: inline;
    margin: 20px;
    color: rgb(45, 45, 170);

}

li a {
    text-decoration: none;
    color: white;
    font-family: 'Boogaloo', cursive;
    font-family: 'Bungee Spice', cursive;
    font-family: 'Montserrat', sans-serif;

}

/* cards */

.contenido2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px 70px 60px;




}


.imgcard {
    height: 150px;
    box-shadow: 0 0 10px grey;
    border-radius: 20px;
    padding: 10px 40px;
    margin: 75px;

}



.btncard {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    justify-content: space-around;
    background-color: #808080;
    font-family: 'Boogaloo', cursive;
    font-family: 'Bungee Spice', cursive;
    font-family: 'Montserrat', sans-serif;
    color: white;
    width: 150px;
    text-decoration: none;
    padding: 20px 0;
    border-radius: 25px;
    box-shadow: 0 0 10px grey;
    position: relative;
    right: 275px;



}

/* video de laboratorio y txt */

.contenido3 {
    position: relative;

}

.videozhumao {
    width: 1350px;
}

h3 {
    position: absolute;
    top: 55px;
    left: 45px;
    font-size: 50px;
    font-family: 'Bungee', cursive;
    color: #fff
}

/* texto antes del footer */

.txtlab {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Yusei Magic', sans-serif;
    justify-content: center;
    font-size: 35px;
    background-color: #808080;
    color: #fff;

}

/* footer */

footer {
    height: 150px;
    background-image: radial-gradient(circle at 20% 14%, rgba(27, 27, 27, 0.05) 0%, rgba(27, 27, 27, 0.05) 50%, rgba(126, 126, 126, 0.05) 50%, rgba(126, 126, 126, 0.05) 100%), radial-gradient(circle at 18% 51%, rgba(248, 248, 248, 0.05) 0%, rgba(248, 248, 248, 0.05) 50%, rgba(26, 26, 26, 0.05) 50%, rgba(26, 26, 26, 0.05) 100%), radial-gradient(circle at 29% 38%, rgba(160, 160, 160, 0.05) 0%, rgba(160, 160, 160, 0.05) 50%, rgba(212, 212, 212, 0.05) 50%, rgba(212, 212, 212, 0.05) 100%), linear-gradient(90deg, rgb(35, 74, 255), rgb(6, 3, 30));
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.fa-brands {
    font-size: 90px;
    color: white;
    margin: 10px;
 

}



@media screen and (max-width: 1002px) {

    header {
        display: flex;
        flex-direction: column;
    }

    nav li {
        display: flex;
        flex-direction: column;
    }


    body {

        display: flex;
        flex-direction: column;
    }



}