@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Bungee&family=Bungee+Spice&family=Montserrat:ital,wght@0,800;0,900;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Bungee+Spice&family=Montserrat:ital,wght@0,800;0,900;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Bungee&family=Bungee+Spice&family=Montserrat:ital,wght@0,800;0,900;1,800;1,900&family=Yusei+Magic&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



.titulo2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    opacity: 0.5;
    font-size: 250px;
    color: grey;
    display: block;
    position: absolute;
    top: 40%;
    left: 15%;




}

.videoinicio {
    width: 100%;
 
}

header{
    width: 100%;
    position: fixed;


}
nav ul {
    width: 100%;
    height: 40px;
    background-image: radial-gradient(circle at 20% 14%, rgba(27, 27, 27, 0.05) 0%, rgba(27, 27, 27, 0.05) 50%, rgba(126, 126, 126, 0.05) 50%, rgba(126, 126, 126, 0.05) 100%), radial-gradient(circle at 18% 51%, rgba(248, 248, 248, 0.05) 0%, rgba(248, 248, 248, 0.05) 50%, rgba(26, 26, 26, 0.05) 50%, rgba(26, 26, 26, 0.05) 100%), radial-gradient(circle at 29% 38%, rgba(160, 160, 160, 0.05) 0%, rgba(160, 160, 160, 0.05) 50%, rgba(212, 212, 212, 0.05) 50%, rgba(212, 212, 212, 0.05) 100%), linear-gradient(90deg, rgb(35, 74, 255), rgb(6, 3, 30));
    text-align: center;
   

}

li {
    cursor: pointer;
    font-size: 25px;
    display: inline;
    margin: 20px;
   
}

li a {
    text-decoration: none;
    color: white;
    font-family: 'Boogaloo', cursive;
    font-family: 'Bungee Spice', cursive;
    font-family: 'Montserrat', sans-serif;
    

}


/* @media  (max-width: 320px) {

  
   
} */



.container {
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    text-align: center;



}

.items {
    height: 200px;
    margin: 50px 50px;
    border-radius: 1vh;
    border: 2px solid black;
    display: flex;

}




.textoitem {
    cursor: pointer;
    display: inline-block;
    border: 2px solid black;
    width: 210px;
    padding: 12px 0;
    border-radius: 10px;
    font-family: 'Bungee Spice', cursive;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 25px;
    color: #1e3c72
}



.txtlab {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Yusei Magic', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 45px;
    background-color: #1e3c72;
    color: #fff;



}

.imglab {
    width: 100%;
    height: 1050px;
    opacity: 0.5;




}


footer {
    height: 150px;
    background-image: radial-gradient(circle at 20% 14%, rgba(27, 27, 27, 0.05) 0%, rgba(27, 27, 27, 0.05) 50%, rgba(126, 126, 126, 0.05) 50%, rgba(126, 126, 126, 0.05) 100%), radial-gradient(circle at 18% 51%, rgba(248, 248, 248, 0.05) 0%, rgba(248, 248, 248, 0.05) 50%, rgba(26, 26, 26, 0.05) 50%, rgba(26, 26, 26, 0.05) 100%), radial-gradient(circle at 29% 38%, rgba(160, 160, 160, 0.05) 0%, rgba(160, 160, 160, 0.05) 50%, rgba(212, 212, 212, 0.05) 50%, rgba(212, 212, 212, 0.05) 100%), linear-gradient(90deg, rgb(35, 74, 255), rgb(6, 3, 30));
    display: flex;
    justify-content: space-around;


}


.columnaredes {
    width: 5%;
    height: 5vh;
    display: flex;
    justify-content: space-around;



}

.fa-brands {
    font-size: 90px;
    color: white;
    margin: 10px;


}